@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);
@import url(https://fonts.googleapis.com/css?family=Miniver:regular);
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button, input, textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

html, body {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: Helvetica, sans-serif;
}
body.scroll-lock {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -140px;
  left: 48%;
  background: url("../img/bg.png") no-repeat top left;
  width: 100%;
  height: 120%;
  background-size: contain;
}
@media (max-width: 991.98px) {
  .wrapper::after {
    left: 60%;
  }
}
@media (max-width: 479.98px) {
  .wrapper::after {
    left: 30%;
  }
}

[class*=__container] {
  max-width: 1440px;
  padding-left: clamp(1rem, 6vw - 2rem, 6rem);
  padding-right: clamp(1rem, 6vw - 2rem, 6rem);
  margin: 0 auto;
}

.pretitle {
  font-family: Miniver, cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  color: #195a00;
  position: relative;
}
.pretitle::after {
  content: "";
  position: absolute;
  width: 27px;
  border-radius: 6px;
  height: 1px;
  background-color: #195a00;
  bottom: 1ch;
  transform: translateY(50%);
  margin-left: 29px;
}

.title {
  font-size: clamp(2.8rem, 12vw - 2rem, 60px);
  line-height: 113%;
  font-weight: 700;
  position: relative;
}

.subtitle {
  position: relative;
  display: inline-block;
}
.subtitle p {
  letter-spacing: 1.12px;
}

.btn {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  padding: clamp(8px, 6vw - 2rem, 16px) clamp(16px, 6vw - 2rem, 48px);
  border: 1px solid #195a00;
  border-radius: 6px;
  text-wrap: nowrap;
}
.btn--primary-color {
  background-color: #195a00;
  color: #fff;
}
.btn--transparent-color {
  background-color: #fff;
  color: #195a00;
}

.scrolldown {
  display: inline-block;
  font-size: 14px;
  line-height: 157%;
  position: relative;
  color: #4f4f4f;
}
.scrolldown::after {
  content: "";
  position: relative;
  margin-top: 26px;
  left: 50%;
  height: 60px;
  width: 1px;
  background-color: #828282;
}

.page {
  /* .page__header */
  /* .page__hero */
}
.page__header {
  padding: clamp(3rem, 6vw - 2rem, 6rem) 0px;
}
.header {
  position: relative;
  z-index: 5;
  /* .header__container */
  /* .header__logo */
  /* .header__menu */
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.header__menu {
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
}
.header__menu ul {
  display: flex;
  align-items: center;
  gap: clamp(10px, 6vw - 2rem, 30px);
}

.menu {
  /* .menu__list */
  /* .menu__item */
}
.menu__item--active {
  font-weight: 700;
  position: relative;
}
.menu__item--active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #195a00;
}

.header-page {
  /* .header-page__panel */
}
@media (max-width: 479.98px) {
  .header-page__panel {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.panel {
  /* .panel__list */
  /* .panel__item */
}
.panel__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.hero {
  /* .hero__background-image */
  /* .hero__container */
  /* .hero__row */
  /* .hero__description */
  /* .hero__subtitle */
  /* .hero__title */
  /* .hero__text */
  /* .hero__call-to-action */
  /* .hero__more */
  /* .hero__order */
  /* .hero__image */
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}
.hero__row {
  min-height: 400px;
  max-height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .hero__row {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.hero__pretitle {
  margin-bottom: 8px;
}
.hero__title {
  position: relative;
  margin-bottom: 32px;
}
@media (max-width: 767.98px) {
  .hero__title {
    margin-bottom: 70px;
  }
}
.hero__title::after {
  content: "";
  position: absolute;
  background: url("../img/shining-stars.svg") no-repeat;
  width: 83px;
  aspect-ratio: 1;
}
.hero__text {
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  margin-bottom: 30px;
}
.hero__call-to-action {
  display: flex;
}
.hero__call-to-action :not(:last-child) {
  margin-right: clamp(8px, 6vw - 2rem, 15px);
}
.hero__image {
  flex: 1 0 auto;
  position: relative;
}
@media (max-width: 767.98px) {
  .hero__image {
    flex: 1 1 auto;
  }
}
.hero__image img {
  width: 100%;
  height: 100%;
  min-height: 500px;
  max-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media (max-width: 767.98px) {
  .hero__image img {
    -o-object-position: unset;
       object-position: unset;
    min-height: unset;
  }
}
.hero__scrolldown {
  flex: 0;
  display: grid;
  text-align: center;
}
@media (max-width: 767.98px) {
  .hero__scrolldown {
    display: none;
  }
}